 body     {
         background-color: #ade;
         
     }
    
   h2 {
	font-family: Convergence;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 30px;
	color: #aa1133;
	text-align: center;
}
 	
 div 
 	{
 		padding: 100px 0px 100px 0px;
 	}


 