 html     {
         background-color: #5d5776;
        background-image: url(http://il6.picdn.net/shutterstock/videos/12013151/thumb/1.jpg);
        background-size: 800px;
        background-repeat: no-repeat;
        
        
         
     }
    
   h2 {
	font-family: Convergence;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 30px;
	color: white;
	text-align: center;
	
}
 	
 div 
 	{
 		padding: 100px 0px 100px 0px;
 	}
 #login
 {
 	
 	font-weight: bolder;
 	font-family: Convergence;
 	background-color: #3a00a1;
 	
 }
#login:hover
{
    background-color: white;
    color: #3a00a1;
}
 